.beverage {
  h1 {
    margin: 4rem 1rem 1rem;
    text-align: center;
    font-size: 1.85rem;
  }

  .image_container {
    height: 45vh;
    width: 100%;
    margin-bottom: 1rem;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .content {
    padding: 0 0.5rem;

    div {
      padding: 0.5rem 1rem;
      margin: 1rem 0 0.5rem auto;
      font-size: 1rem;
      color: #333;
      background-color: $primaryYellow;
      border: none;
      border-radius: 5px;
      max-width: 5rem;
      text-align: center;
    }
  }

  form {
    padding: 0 0.5rem;
    width: 100%;

    input,
    select {
      width: 100%;
      margin: 1rem 0;
      padding: 0.5rem 0;
      font-size: 1rem;
      outline-color: $primaryYellow;
    }
    input[type="submit"] {
      background-color: transparent;
      border: $accentDark 1px solid;
      border-radius: 8px;
      padding: 0.5rem 2rem;
      margin: 1rem 0;
      color: $accentDark;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: $primaryYellow;
        color: #333;
      }
    }
  }

  @include md-mobile {
    padding-top: 2rem;
  }
}
