.homescreen {
  section {
    min-height: 20vh;
    color: #333;

    @include md-mobile {
      padding: 0 2rem;
    }

    h2 {
      font-size: 1.5rem;
      text-align: center;
      line-height: 1.4;
    }
  }

  .section-dark {
    padding: 2rem;
    background-color: #000;
    color: #fff;
  }
}
